h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron{
    background: #fff;
}



.card-img-top{
    width: 100%;
    height: 60%;
}

.carousel-item{
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
